* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Noto Sans JP', sans-serif;
      height: 100vh;
      display: flex;
    }

    /* Общий контейнер */
    .container {
      display: flex;
      width: 100%;
      height: 100%;
    }

    /* Левая часть - форма входа */
    .login-section {
      width: 30%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }
    .login-div {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        border-radius: 30px;
        transition: all 0.3s;
    }
    .login-div:hover{
        background-color: rgba(240,240,240,1);
        transform: translateY(-2px);
        box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
    }
    /* Правая часть - изображение */
    .image-section {
      width: 100%;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    .image-section img{
      width: 100%;
    }

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* Логотип */
    .logo {
      font-size: 28px;
      font-weight: 700;
      color: #333533;
      margin-bottom: 60px;
      letter-spacing: 2px;
      position: relative;
      display: inline-block;
    }

    .logo::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 50px;
      height: 2px;
      background-color: #9A8C98;
    }

    /* Форма входа */
    .login-form {
      width: 100%;
      max-width: 350px;
    }

    .form-group {
      margin-bottom: 30px;
    }

    .form-group label {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      color: #4A4E69;
      font-weight: 500;
    }

    .form-group input {
      width: 100%;
      padding: 14px 16px;
      border: 1px solid #CFDBD5;
      border-radius: 4px;
      font-size: 16px;
      background-color: #F8F8F8;
      transition: all 0.3s;
    }

    .form-group input:focus {
      outline: none;
      border-color: #9A8C98;
      background-color: #FFFFFF;
    }

    .login-button {
      width: 100%;
      padding: 16px;
      background-color: rgba(239, 157, 175, 0.6);
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }

    .login-button:hover {
      background-color: rgba(239, 157, 175, 1);
    }