    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Noto Sans JP', sans-serif;
      height: 100vh;
      display: block;
      width: 100%;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: rgba(239, 157, 175, 0.2);
    }
    .nav-bar {

    }
    .nav-bar a {
        border: 1px solid;
        padding: 10px;
        border-radius: 20px;
        color: rgba(0,0,0,1);
    }
    .search-box {
        margin-top: 30px;
        text-align: center;

    }
    .search-box input{
        margin-top: 10px;
        width: 30%;
        padding: 10px 0px;
        border-radius: 25px;
    }
    .search-box button{
        
    }